{% extends 'feed/base.html' %}

{% block content %}
<br>
<div class="refresher"><a href="{% url 'refresh_posts' %}"><button type="button" class="btn btn-outline-primary">Refresh Posts</button></a></div>

{% load embed_video_tags %}
	{% for post in posts %}
		<div class="post">
			{% ifequal post.postType 'Video' %}
				{% video post.link as my_video %}
					{% video my_video "small" %}
				{% endvideo %}
			{% endifequal %}
			{% for source in post.sources.all %}
				<p>{{ source.name }}</p>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
